*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

article{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

#profile-img{
    padding: 15px;
    margin: 30px;
    height: 350px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}

.heading{
    text-align: center;
    color: blue;
}

p, .heading {
    font-family:  sans-serif;
    padding-right: 50px;
}